<link rel="apple-touch-icon" href="{{ meta.faviconPng }}">
<link rel="icon" type="image/png" href="{{ meta.faviconPng }}"/>
<link rel="icon" type="image/svg+xml" href="/{{ meta.faviconSvg }}">
<link rel="icon" type="image/x-icon" href="/{{ meta.faviconIco }}">
<meta name="msapplication-TileImage" content="{{ meta.faviconPng }}">
<meta name="msapplication-TileColor" content="{{ meta.tileColor }}">
<meta name="theme-color" content="{{ meta.themeColor }}">