<section class="has-background-secondary-light pb-6 is-relative">
    <div class="container py-6">
        <footer class="columns px-4">
            <div class="column is-one-quarter">
                <b>
                    <a href="{% link footer.fields.voorLedenLink %}" class="has-text-grey-dark">
                        {{ footer.fields.voorLedenTekst }}
                    </a>
                </b>
                <div class="">
                    <ul>
                        {% for voorLedenlink in footer.fields.voorLedenSubmenu %}
                            <li>
                                <a class="has-text-primary-dark" href="{% link voorLedenlink %}">
                                    {{ voorLedenlink.fields.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column is-one-quarter">
                <b>
                    <a href="{% link footer.fields.lidWordenLink %}" class="has-text-grey-dark">
                        {{ footer.fields.lidWordenTekst }}
                    </a>
                </b>
                <div class="">
                    <ul>
                        {% for lidWordenlink in footer.fields.lidWordenSubmenu %}
                            <li>
                                <a class="has-text-primary-dark" href="{% link lidWordenlink %}">
                                    {{ lidWordenlink.fields.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column is-one-quarter">
                <b>
                    <a href="{% link footer.fields.overMove4uLink %}" class="has-text-grey-dark">
                        {{ footer.fields.overMove4uTekst }}
                    </a>
                </b>
                <div class="">
                    <ul>
                        {% for overMove4ulink in footer.fields.overMove4uSubmenu %}
                            <li>
                                <a class="has-text-primary-dark" href="{% link overMove4ulink %}">
                                    {{ overMove4ulink.fields.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column is-one-quarter">
                <a class="has-text-primary-dark" href="https://www.google.com/maps/dir//Volleybal+Move4U,+Korhoenlaan+6,+3136+ST+Vlaardingen/@51.9333448,4.3575817,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47c44b1d06fe4aff:0x5df0f0923b3b38b8!2m2!1d4.3601566!2d51.9333448!3e0?entry=ttu" itemscope="" itemtype="http://schema.org/SportsClub" target="_blank">
                    <p itemprop="name">Volleybalvereniging Move4u</p>
                    <p class="has-text-weight-bold" itemprop="description">Sporthal en beachvelden van volleybalvereniging Move4u</p>
                    <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <div itemprop="streetAddress">Korhoenlaan
                            6</div>
                        <div itemprop="postalCode">3136
                            ST</div>
                        <div itemprop="addressLocality">Vlaardingen</div>
                        <span itemprop="addressRegion">Zuid-Holland</span>
                        <span itemprop="addressCountry">NL</span>
                    </div>
                    <div itemprop="url">http://www.move4u.info </div>
                </a>

            </div>
        </footer>
        <footer class="columns p-4">
            <div class="column is-one-quarter is-offset-half-tablet">
                <b>
                    Socials
                </b>
                <div class="">
                    <ul>
                            <li class="my-3">
                                <a class="has-text-primary-dark" href="https://www.instagram.com/move4uvolleybal/" target="_blank">
                                    <img width="30" height="30" class="is-vertical-align-middle" src="https://api.iconify.design/bi/instagram.svg?color=%23b35700" alt="insta_logo"/>
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a class="has-text-primary-dark" href="https://www.facebook.com/Move4uVolleybal/" target="_blank">
                                    <img width="30" height="30" class="is-vertical-align-middle" src="https://api.iconify.design/bi/facebook.svg?color=%23b35700" alt="fb_logo"/>
                                    Facebook
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
            <div class="column is-one-quarter">
                <a href="https://www.sponsorkliks.com/winkels.php?club=3165" target="_blank"> <img src="http://www.sponsorkliks.com/promotie/banners/sk_142_142.gif" alt="SponsorKliks" title="SponsorKliks" border="0"> </a>
            </div>
        </footer>
    </div>
</section>