<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation max-width-100vw">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img width="62" height="48" alt="Logo Move4u" src="/img/logo.svg"/>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{% link nav.fields.voorLedenLink %}" class="navbar-link">
                    {{ nav.fields.voorLedenTekst }}
                </a>

                <div class="navbar-dropdown">
                    {% for voorLedenLink in nav.fields.voorLedenSubmenu %}
                        <a href="{% link voorLedenLink %}" class="navbar-item animate-on-scroll fly-in-from-left animation-staggered">
                            {{ voorLedenLink.fields.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{% link nav.fields.lidWordenLink %}" class="navbar-link">
                    {{ nav.fields.lidWordenTekst }}
                </a>

                <div class="navbar-dropdown">
                    {% for lidWordenlink in nav.fields.lidWordenSubmenu %}
                        <a href="{% link lidWordenlink %}" class="navbar-item animate-on-scroll fly-in-from-left animation-staggered">
                            {{ lidWordenlink.fields.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{% link nav.fields.overMove4uLink %}" class="navbar-link">
                    {{ nav.fields.overMove4uTekst }}
                </a>

                <div class="navbar-dropdown">
                    {% for overMove4ulink in nav.fields.overMove4uSubmenu %}
                        <a href="{% link overMove4ulink %}" class="navbar-item animate-on-scroll fly-in-from-left animation-staggered">
                            {{ overMove4ulink.fields.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if nav.fields.ctAs.length > 0%}
                        {% for cta in nav.fields.ctAs %}
                            <a href="{% link cta.fields.link %}" class="button {% if cta.fields.primair %}is-primary{% else %}is-light{% endif %} animate-on-scroll fly-in-from-left animate-once">
                                {% if cta.fields.primair %}
                                    <strong>{{ cta.fields.title }}</strong>
                                {% else %}
                                    {{ cta.fields.title }}
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>