@charset "utf-8";

// Import Google Fonts
@import "font";

// Update Bulma's global variables
$family-sans-serif: 'Karla', serif;
$family-secondary: 'Karla', sans-serif;

$grey-dark: #1a4d94;
$grey-light: #f5f5f5;
$primary: #ff7f04;
$secondary: #bad2f3;
$secondary-invert: #452d0c;
$custom-colors: ("secondary": ($secondary, $secondary-invert, lighten($secondary, 5%), darken($secondary, 20%)));
$link: $primary;

$menu-item-hover-background-color: lighten($primary, 20);

$title-family: $family-sans-serif;
$title-weight: 400;
$title-size: 2.5rem;
$subtitle-family: $family-secondary;
$subtitle-weight: 400;
$subtitle-size: 2em;
$content-heading-weight: 400;


@import "../../node_modules/bulma/bulma";

@import "animations/animate-on-scroll";

@import "helpers/radius";
@import "helpers/fullheight";
@import "helpers/object-fit";
@import "helpers/shadow";
@import "helpers/columns-reversed-mobile";
@import "helpers/fixed";
@import "helpers/responsive-padding-and-margin";
@import "helpers/max-width";
@import "helpers/min-height";
@import "helpers/table-layout";
@import "helpers/vertical-align";

@import "components/blue-bg-image";
@import "components/white-outline-text";

body {
  max-width:100vw;
  overflow:hidden;
}

.navbar-item img {
  max-height: 3rem;
}

.navbar-burger {
  height: 4rem;
}