---
pagination:
    data: contentPages.items
    size: 1
    alias: contentPage
permalink: "entry/{{ contentPage.sys.id }}/"
---
<meta http-equiv="refresh" content="0; url=/{{ contentPage.fields.slug }}">