---
pagination:
    data: teamPages.items
    size: 1
    alias: contentPage
permalink: "entry/{{ contentPage.sys.id }}/"
---
<meta http-equiv="refresh" content="0; url=/teams/{{ contentPage.fields.slug }}">
