{% macro directGeholpen(directGeholpenField, teamPages, meta) %}
    {% if 'Beachveld reserveren' in directGeholpenField %}
        {% include "direct-geholpen/beachveld-reserveren.njk" %}
    {% elseif 'Routeplanner' in directGeholpenField %}
        {% include "direct-geholpen/routeplanner.njk" %}
    {% elseif 'Teams' in directGeholpenField %}
        {% include "direct-geholpen/teams.njk" %}
    {% elseif 'Inschrijfformulier Move4u' in directGeholpenField %}
        {% include "direct-geholpen/inschrijfformulier-move4u.njk" %}
    {% else %}
        <div class="is-hidden">Unknown direct geholpen: {{ directGeholpenField }}</div>
    {% endif %}
{% endmacro %}