{% macro seoTekst(seoTekstBlock) %}
    <div class="content p-4 has-text-white">
        <h2 class="has-text-primary animate-on-scroll fly-in-from-left animation-staggered animate-once">{{ seoTekstBlock.fields.titel }}</h2>
        <p class="animate-on-scroll fly-in-from-left animation-staggered animate-once">
            {{ seoTekstBlock.fields.content }}
        </p>
        {% if seoTekstBlock.fields.cta %}
            <a href="{% link seoTekstBlock.fields.cta.fields.link %}" class="button is-secondary is-outlined animate-on-scroll fly-in-from-left animation-staggered animate-once">
                {{ seoTekstBlock.fields.cta.fields.title }}
            </a>
        {% endif %}
    </div>
{% endmacro %}