{% macro snelNaar(snelNaarBlock) %}
    <section class="mb-6 pt-6">
        <div class="container p-3">
            <div class="columns is-multiline has-text-centered is-mobile">
                {% for snelNaarLink in snelNaarBlock %}
                    <div class="column is-one-quarter-tablet is-half-mobile animate-on-scroll fly-in-from-left animate-once animation-staggered">
                        <a href="{% link snelNaarLink.fields.link %}" class="is-centered box">
                            <img alt="{{ snelNaarLink.fields.titel }}" class="image is-32x32 is-centered is-inline-block" src="{{ snelNaarLink.fields.icoon }}?color=%231a4d94"/>
                            <br/>
                            {{ snelNaarLink.fields.titel }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endmacro %}