{% macro uitgelicht(uitgelichtBlock) %}
    <div class="card animate-on-scroll animate-once">
        <div class="card-image">
            <figure class="image">
                {% if uitgelichtBlock.fields.cta %}
                    <img class="animate-on-scroll" src="{{ uitgelichtBlock.fields.image.fields.file.url }}?f=face&fit=thumb&fm=webp&w=700&h=254" width="700" height="254" alt="{{ uitgelichtBlock.fields.titel }}">
                {% else %}
                    <img class="animate-on-scroll" src="{{ uitgelichtBlock.fields.image.fields.file.url }}?f=face&fit=thumb&fm=webp&w=700&h=400" width="700" height="400" alt="{{ uitgelichtBlock.fields.titel }}">
                {% endif %}
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <p class="is-size-5">{{ uitgelichtBlock.fields.titel }}</p>
                {% if uitgelichtBlock.fields.cta %}
                    <a href="{% link uitgelichtBlock.fields.cta.fields.link %}" class="button {% if uitgelichtBlock.fields.cta.fields.primair %}is-primary{% else %}is-light{% endif %}">
                        {{ uitgelichtBlock.fields.cta.fields.title }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}