.animate-on-scroll {
  opacity: 0;
  transition: transform 300ms, opacity 300ms;

  &.fly-in-from-left {
    transform: translateX(-10%);

    @for $i from 0 through 10 {
      &.animation-staggered:nth-child(#{$i}) {
        transition-delay: $i * 75ms;
      }
    }
  }

  &.animated {
    opacity: 1;
    transform: none;
  }
}

@media(prefers-reduced-motion) {
  .animate-on-scroll {
    transition: none;
  }
}