<script src="https://cdn.jsdelivr.net/npm/@contentful/app-sdk@4"></script>
<dialog id="searchBox" open>
    <form id="searchForm" method="dialog">
        <div>
            Let op, icoontjes hebben Engelse namen.<br />
            <input name="query" id="searchField" type="search"/>
            <button type="submit">Zoeken</button>
        </div>
        <a href="https://icon-sets.iconify.design/" target="_blank">Bekijk alle icoontjes.</a>
    </form>
</dialog>
<dialog id="resultsBox">
    <button id="searchAgain">Zoeken</button>
    <div id="results"></div>
</dialog>
<script src="/iconify.js"></script>