<!DOCTYPE html>
<html lang="nl" class="has-navbar-fixed-top">
  {%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
  {%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ '/style.css' | url }}?{{ buildTime.timestamp }}" media="screen" as="style">
    <meta name="twitter:card" content="summary_large_image"/>
    {% if meta.twitterUsername %}
      <meta name="twitter:creator" content="@{{ meta.twitterUsername }}"/>
    {% endif %}
    <meta name="twitter:title" content="{{ pageTitle }}"/>
    <meta name="twitter:description" content="{{ pageDescription }}"/>

    <meta name="og:title" content="{{ pageTitle }}"/>
    <meta name="og:description" content="{{ pageDescription }}"/>
    <meta property="og:image" content="{{ meta.socialImage }}"/>
    <meta name="twitter:image" content="{{ meta.socialImage }}"/>

    {% include "favicons.njk" %}

    <link rel="canonical" href="{{ meta.url }}{{ canonical }}"/>
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    {% if noIndex %}
      <meta name="robots" content="noindex,nofollow"/>
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
	<script src="{{ '/script.js' | url }}?{{ buildTime.timestamp }}"></script>
  </body>
</html>