<div class="container py-6 has-text-centered">
    <div class="box p-0">
        <div class="columns">
            <div class="column p-0 is-half radius-tl radius-bl is-hidden-mobile">
                <img width="700" height="520" loading="lazy" alt="Beach veld reserveren" class="is-fullheight is-object-fit-cover radius-tl radius-bl animate-on-scroll" src="https://images.ctfassets.net/hiujgkkbzdgr/6GzTg9guR62SSOu6BpqQIy/5f9201d947b8330a3ce33ab4408ab0f0/P7010034_tn.jpg?f=face&fit=thumb&fm=webp&w=700&h=520"/>
            </div>
            <div class="js-beachveld-overview column is-half p-5 is-flex is-align-items-center has-text-centered is-align-content-center is-flex-direction-column is-align-self-center">
                <h2 class="is-size-4 mb-3">Beachveld reserveren</h2>
                <h3>Reserveringen vandaag</h3>
                <div class="js-beachveld-reserveren mb-5">
                    <progress class="progress is-small is-primary mt-3" max="100">Loading</progress>
                </div>
                <button class="button is-primary js-beachveld-reserveren-button">
                    Een veld reserveren
                    <img class="ml-3 image is-24x24" src="https://api.iconify.design/fluent/beach-20-regular.svg?color=%23fff" alt="Icon Beach"/>
                </button>
            </div>
            <div class="column is-half is-hidden is-flex is-align-items-center has-text-centered is-align-content-center is-flex-direction-column is-align-self-center">
                <div>
                    <h3 class="is-size-4">Reserveren</h3>
                    <form method="post" action="https://move4ubeach.jnsmvc.nl/reserveren/check-authenticity">
                    <table class="table is-fullwidth">
                        <tr>
                            <td>
                                <div class="field">
                                    <div class="label">
                                        <label for="datefield" class="label">Wanneer?</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input id="datefield" class="input" type="date" name="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="field">
                                    <div class="label is-normal">
                                        <label for="timefield" class="label">Hoe laat?</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select id="timefield" name="time">
                                                        <option value="7">07:00</option>
                                                        <option value="8">08:00</option>
                                                        <option value="9">09:00</option>
                                                        <option value="10">10:00</option>
                                                        <option value="11">11:00</option>
                                                        <option value="12">12:00</option>
                                                        <option value="13">13:00</option>
                                                        <option value="14">14:00</option>
                                                        <option value="15">15:00</option>
                                                        <option value="16">16:00</option>
                                                        <option value="17">17:00</option>
                                                        <option value="18">18:00</option>
                                                        <option value="19" selected="selected">19:00</option>
                                                        <option value="20">20:00</option>
                                                        <option value="21">21:00</option>
                                                        <option value="22">22:00</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="field">
                                    <div class="label">
                                        <label for="durationfield" class="label">Hoe lang?</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select id="durationfield" name="duration">
                                                        <option value="1">1 uur</option>
                                                        <option value="2">2 uur</option>
                                                        <option value="3">3 uur</option>
                                                        <option value="4">4 uur</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="field">
                                    <div class="label">
                                        <label for="fieldsfield" class="label">Hoeveel velden?</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select id="fieldsfield" name="fields">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="field">
                                    <div class="label">
                                        <label for="memberfield" class="label">Heb je een beachpas?</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select id="memberfield" name="member">
                                                        <option value="1">Ja</option>
                                                        <option value="0">Nee</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <label class="label">&nbsp;</label>
                                    <input class="button is-primary" type="submit" value="Check beschikbaarheid">
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>