{% macro textField(name, label) %}
    <div class="field">
        <div class="label">
            <label for="{{ name }}field" class="label">{{ label }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input required="required" id="{{ name }}field" class="input" type="text" name="{{ name }}">
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
<div class="box content">
    <form id="inschrijfformulier" hx-post="{{ meta.lambdaUrl }}/inschrijven" hx-swap="outerHTML" hx-trigger="verified">
        <h2>Inschrijfdatum</h2>
        <div class="field">
            <div class="label">
                <label for="startdatefield" class="label">Ik schrijf me in per</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input required="required" id="startdatefield" class="input" type="date" name="ik_schrijf_me_in_per">
                    </div>
                </div>
            </div>
        </div>
        <h2>Gegevens Move4u-lid / verenigingslid</h2>
        {{ textField("name", "Naam") }}
        <div class="field">
            <div class="label">
                <label for="dobfield" class="label">Geboortedatum</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input required="required" id="dobfield" class="input" type="date" name="geboortedatum">
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="label">
                <label for="genderfield" class="label">Geslacht</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="genderfield" name="geslacht">
                                <option value="Man">Man</option>
                                <option value="Vrouw">Vrouw</option>
                                <option value="Anders">Anders</option>
                                <option value="Zeg ik liever niet">Zeg ik liever niet</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ textField("adres", "Adres") }}
        {{ textField("postcode", "Postcode") }}
        {{ textField("woonplaats", "Woonplaats") }}
        {{ textField("telefoon", "Telefoon") }}
        {{ textField("email", "E-mail") }}
        <h2>Lidmaatschappen</h2>
        <div class="field">
            <div class="label">
                <label for="zaalfield" class="label">Zaalvolleybal</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="zaalfield" name="zaal">
                                <option value="Geen">Geen</option>
                                <option value="cmv-1-4">CMV Jeugd 1-4</option>
                                <option value="cmv-5-6">CMV Jeugd 5-6 (geboren op of na 1-10-2010)</option>
                                <option value="jeugd-c">C Jeugd (geboren op of na 1-10-2008)</option>
                                <option value="jeugd-b">B Jeugd (geboren op of na 1-10-2006)</option>
                                <option value="jeugd-a">A Jeugd (geboren op of na 1-10-2004)</option>
                                <option value="senioren-1x-trainen">Senioren 1x trainen</option>
                                <option value="senioren-2x-trainen">Senioren 2x trainen</option>
                                <option value="senioren-alleen-trainen">Senioren alleen trainen</option>
                                <option value="recreanten">Recreanten</option>
                                <option value="verenigingslid">Verenigingslid</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="label">
                <label for="beachfield" class="label">Beachvolleybal</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="beachfield" name="beach">
                                <option value="Geen">Geen</option>
                                <option value="jeugd">Jeugd</option>
                                <option value="senioren">Senioren</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Ondertekening</h2>
        <p>Ondergetekende meldt zich aan voor de volleybalvereniging MOVE4U en verklaart
            zich akkoord met de betaling van de contributie door het invullen van het
            machtigingsformulier. </p>
        {{ textField("plaats", "Plaats") }}
        <div class="field">
            <div class="label">
                <label for="datefield" class="label">Datum</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input required="required" id="datefield" class="input" type="date" name="datum_ondertekening">
                    </div>
                </div>
            </div>
        </div>
        <h2>Machtiging voor standaard Europese incasso SEPA</h2>
        <p>
            <strong>Volleybalvereniging MOVE4U</strong>
            <br/>
            Berkendreef 123
            <br/>
            3137 BE Vlaardingen
            <br/>
            Nederland
            <br/>
            Incassant ID: NL56ZZZ243490660000
            <br/>
            Reden betaling: Contributie
            <br/>
        </p>
        <p>
            Door ondertekening van dit formulier geeft u toestemming aan
        <ul>
            <li>
                Volleybalvereniging MOVE4 om doorlopende incasso-opdrachten te sturen naar uw
                bank om een bedrag van uw rekening af te schrijven
            </li>
            <li>
                uw bank om doorlopend een bedrag van uw rekening af te schrijven overeenkomstig
                de opdracht van Volleybalvereniging MOVE4U
            </li>
        </ul>
        Als u het niet eens bent met deze afschrijving kunt u deze laten terugboeken. Neem hiervoor
        binnen 8 weken na afschrijving contact op met uw bank.Vraag uw bank naar de voorwaarden.
        Deze machtiging kan schriftelijk worden ingetrokken bij de penningmeester van MOVE4U
        </p>
        {{ textField("naam_voorletters_machtiging", "Naam en voorletters rekeninghouder") }}
        {{ textField("adres_machtiging", "Adres") }}
        {{ textField("postcode_machtiging", "Postcode") }}
        {{ textField("plaats_machtiging", "Plaats") }}
        {{ textField("land_machtiging", "Land") }}
        {{ textField("iban_machtiging", "IBAN") }}
        {{ textField("plaatsondertekening_machtiging", "Plaats ondertekening") }}
        <div class="field">
            <div class="label">
                <label for="datumondertekening_machtigingfield" class="label">Datum ondertekening</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input required="required" id="datumondertekening_machtigingfield" class="input" type="date" name="datum_ondertekening_machtiging">
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" required="required">
                Ik ga akkoord met mijn inschrijving en verklaar dit formulier naar waarheid te hebben ingevuld.
            </label>
        </div>
        <div class="field has-text-right">
            <button class="g-recaptcha button is-primary"
                    data-sitekey="{{ meta.googleSiteKey }}"
                    data-callback='onSubmit'
                    data-action='submit'>Inschrijven</button>
        </div>
    </form>
</div>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.8"></script>
<script src="/recaptcha.js"></script>
