<div class="container py-6">
    <div class="box p-0">
        <div class="columns">
            <a class="column has-background-grey-light radius-tl radius-bl p-0 is-hidden-mobile" target="_blank" href="https://www.google.com/maps/dir//Volleybal+Move4U,+Korhoenlaan+6,+3136+ST+Vlaardingen/@51.9333448,4.3575817,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47c44b1d06fe4aff:0x5df0f0923b3b38b8!2m2!1d4.3601566!2d51.9333448!3e0?entry=ttu">
                <img alt="Routekaart" loading="lazy" width="699" height="539" class="is-fullheight is-object-fit-cover radius-tl radius-bl animate-on-scroll" src="/img/map.webp"/>
            </a>
            <img alt="Routekaart" loading="lazy" width="699" height="539" class="is-hidden-tablet column animate-on-scroll" src="/img/map.webp"/>
            <div class="column p-3 is-flex is-align-items-center is-justify-content-center">
                <div>
                    <div class="p-3" itemscope="" itemtype="http://schema.org/SportsClub">
                        <h2>Routebeschrijving sporthal Move4u</h2>
                        <h2 class="is-size-4" itemprop="name">Volleybalvereniging Move4u</h2>
                        <p class="has-text-weight-bold" itemprop="description">Sporthal en beachvelden van volleybalvereniging Move4u</p>
                        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                            <div itemprop="streetAddress">Korhoenlaan
                                6</div>
                            <div itemprop="postalCode">3136
                                ST</div>
                            <div itemprop="addressLocality">Vlaardingen</div>
                            <span itemprop="addressRegion">Zuid-Holland</span>
                            <span itemprop="addressCountry">NL</span>
                        </div>
                        <div itemprop="url">http://www.move4u.info </div>
                    </div>
                    <div class="has-text-centered my-3">
                        <a href="https://www.google.com/maps/dir//Volleybal+Move4U,+Korhoenlaan+6,+3136+ST+Vlaardingen/@51.9333448,4.3575817,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47c44b1d06fe4aff:0x5df0f0923b3b38b8!2m2!1d4.3601566!2d51.9333448!3e0?entry=ttu" target="_blank" class="button is-primary">
                            Routebeschrijving
                            <img class="ml-3 image is-24x24" src="https://api.iconify.design/solar/route-outline.svg?color=%23fff" alt="Route Icon"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>