{% macro renderTeam(items, filter, title) %}
    <ul class="column is-one-third">
        <li>
            <h3 class="is-size-4">{{ title }}</h3>
        </li>
        {% for team in items %}
            {% if filter in team.fields.teamNaam | lower %}
                <li>
                    <a href="/teams/{{ team.fields.slug }}">
                        {{ team.fields.teamNaam }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
<div class="container py-6 has-text-centered">
    <div class="box">
        <h2 class="subtitle">Teams</h2>
        <div class="columns is-multiline">
            {{ renderTeam(teamPages.items, "heren", "Heren") }}
            {{ renderTeam(teamPages.items, "dames", "Dames") }}
            {{ renderTeam(teamPages.items, "recreanten", "Recreanten") }}
            {{ renderTeam(teamPages.items, "jongens", "Jongens") }}
            {{ renderTeam(teamPages.items, "meisjes", "Meisjes") }}
            {{ renderTeam(teamPages.items, "cmv", "Mini's") }}
        </div>
    </div>
</div>