---
layout: layout/base.njk
pagination:
    data: contentPages.items
    size: 1
    alias: contentPage
permalink: "{{ contentPage.fields.slug }}/"
eleventyComputed:
    title: "{{ contentPage.fields.title }}"
---
{% include "nav.njk" %}
{% from "macros/directGeholpen.njk" import directGeholpen %}
<div class="block mb-3">&nbsp;</div>
<main class="container min-height-65vh">
    <h1 class="title m-5-touch">{{ contentPage.fields.title }}</h1>
    <div class="columns">
        <article class="column is-two-thirds m-5-touch">
            <div class="mb-6">
                <div class="content">
                    {{ contentPage.contentHTML | safe }}
                </div>
                <div>
                    {# Direct geholpen #}
                    {% if contentPage.fields.directGeholpen.length > 0 %}
                        <section>
                            {{ directGeholpen(contentPage.fields.directGeholpen, teamPages, meta) }}
                        </section>
                    {% endif %}
                </div>
            </div>
        </article>
        <aside class="column is-one-third">
            {% if contentPage.fields.bekijkOok.length > 0%}
                <div class="content is-fixed-tablet m-5-touch">
                    <h2>Bekijk ook</h2>
                    <ul>
                        {% for link in contentPage.fields.bekijkOok %}
                            <li>
                                <a href="{% link link %}">{{ link.fields.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="https://www.sponsorkliks.com/winkels.php?club=3165" target="_blank"> <img src="http://www.sponsorkliks.com/promotie/banners/sk_142_142.gif" alt="SponsorKliks" title="SponsorKliks" border="0"> </a>
                </div>
            {% endif %}
        </aside>
    </div>
</main>
{% include "footer.njk" %}
