---
permalink: hero-image.css
---
.hero-image {
    background-image: linear-gradient(0deg, rgba(255, 127, 4, 0.3), rgba(255, 127, 4, 0.3)), url('{{ homepage.fields.heroImage.fields.file.url }}?f=face&fit=thumb&fm=webp&w=1050&h=780');
    background-size: cover;
    background-position: center;
}