---
layout: layout/base.njk
eleventyComputed:
    title: "{{ homepage.fields.title }}"
---
{% from "macros/uitgelicht.njk" import uitgelicht %}
{% from "macros/seoTekst.njk" import seoTekst %}
{% from "macros/snelNaar.njk" import snelNaar %}
{% from "macros/directGeholpen.njk" import directGeholpen %}
{% include "nav.njk" %}
<main>
    <link rel="stylesheet" href="/hero-image.css" media="screen" as="style"/>
    <section class="hero is-medium has-shadow hero-image animate-on-scroll">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-half">
                        <h1 class="title has-text-primary">
                            {{ homepage.fields.heroTitle }}
                        </h1>
                        <h2 class="subtitle has-text-white">
                            {{ homepage.fields.heroDescription }}
                        </h2>
                        {% if homepage.fields.heroCta %}
                            {{ homepage.fields.heroCta.sys.contentType | log }}
                            <a href="{% link homepage.fields.heroCta.fields.link %}" class="button is-white is-outlined mt-6 is-size-5">
                                {{ homepage.fields.heroCta.fields.title }}
                            </a>
                        {% endif %}
                        {##}
                    </div>
                    <div class="column is-half is-hidden-mobile">
                        <img src="/img/logo.svg"/>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <div class="has-blue-bg-image pb-6">
        {# Snel naar #}
        {% if homepage.fields.snelNaar %}
            {{ snelNaar(homepage.fields.snelNaar) }}
        {% endif %}
        {# Direct geholpen #}
        {% if homepage.fields.directGeholpen.length > 0 %}
            <section class="mt-6">
                {{ directGeholpen(homepage.fields.directGeholpen, teamPages, meta) }}
            </section>
        {% else %}
            <div class="mt-6">&nbsp;</div>
        {% endif %}

    </div>
    <section class="has-background-grey-dark pb-6">
        <div class="container">
            <div class="columns is-variable is-6 mb-5">
                <div class="column is-half">
                    {{ uitgelicht(homepage.fields.uitgelicht1) }}
                </div>
                <div class="column is-half">
                    {{ seoTekst(homepage.fields.seoTekst1) }}
                </div>
            </div>
            <div class="columns is-variable is-6 is-reversed-mobile">
                <div class="column is-half">
                    {{ seoTekst(homepage.fields.seoTekst2) }}
                </div>
                <div class="column is-half">
                    {{ uitgelicht(homepage.fields.uitgelicht2) }}
                </div>
            </div>
        </div>
    </section>
    {#Footer#}
    {% include "footer.njk" %}
</main>