---
layout: layout/base.njk
pagination:
    data: teamPages.items
    size: 1
    alias: contentPage
permalink: "teams/{{ contentPage.fields.slug }}/"
eleventyComputed:
    title: "{{ contentPage.fields.teamNaam }} | Teams"
---
{% include "nav.njk" %}
<main class="container">
    <h1 class="subtitle mt-6 m-5-touch">{{ contentPage.fields.teamNaam }}</h1>
    <div class="container pb-6 pt-3">
        <div class="box p-0">
            <div class="columns is-multiline">
                <a class="column is-two-thirds-desktop is-full-tablet has-background-grey-light radius-tl radius-bl p-0 is-hidden-mobile" target="_blank" href="https://www.google.com/maps/dir//Volleybal+Move4U,+Korhoenlaan+6,+3136+ST+Vlaardingen/@51.9333448,4.3575817,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47c44b1d06fe4aff:0x5df0f0923b3b38b8!2m2!1d4.3601566!2d51.9333448!3e0?entry=ttu">
                    <img alt="{{ contentPage.fields.teamNaam }}" loading="lazy" width="699" height="539" class="is-fullheight is-object-fit-cover radius-tl radius-bl animate-on-scroll" src="{{ contentPage.fields.teamFoto.fields.file.url }}?fit=crop&fm=webp&w=1920&h=960"/>
                </a>
                <img alt="Routekaart" loading="lazy" width="699" height="539" class="is-hidden-tablet column animate-on-scroll" src="{{ contentPage.fields.teamFoto.fields.file.url }}?fit=crop&fm=webp&w=1920&h=960"/>
                <div class="column is-full-tablet is-one-third-desktop p-5">
                    <div class="content is-size-7-desktop">
                        {{ contentPage.contentHTML | safe }}
                    </div>
                    {% if contentPage.fields.nevoboCode %}
                    <div class="columns is-multiline has-text-centered is-mobile">
                        <div class="column is-half animate-on-scroll fly-in-from-left animate-once animation-staggered">
                            <a href="https://www.volleybal.nl/competitie/vereniging/ckm1g33/{{ contentPage.fields.nevoboCode }}#program" target="_blank" class="is-centered box is-size-7">
                                <img alt="programma" class="image is-16x16 is-centered is-inline-block" src="https://api.iconify.design/solar/calendar-linear.svg?color=%231a4d94"/>
                                <br/>
                                Programma
                            </a>
                        </div>
                        <div class="column is-half animate-on-scroll fly-in-from-left animate-once animation-staggered">
                            <a href="https://www.volleybal.nl/competitie/vereniging/ckm1g33/{{ contentPage.fields.nevoboCode }}#ranking" target="_blank" class="is-centered box is-size-7">
                                <img alt="programma" class="image is-16x16 is-centered is-inline-block" src="https://api.iconify.design/mdi/podium.svg?color=%231a4d94"/>
                                <br/>
                                Stand
                            </a>
                        </div>
                    </div>
                    {% else %}
                        <p>Dit team speelt geen competitie.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% include "direct-geholpen/teams.njk" %}
{% include "footer.njk" %}
