---
layout: layout/base.njk
pagination:
    data: themePages.items
    size: 1
    alias: themePage
permalink: "{{ themePage.fields.slug }}/"
eleventyComputed:
    title: "{{ themePage.fields.title }}"
---
{% from "macros/uitgelicht.njk" import uitgelicht %}
{% from "macros/seoTekst.njk" import seoTekst %}
{% from "macros/snelNaar.njk" import snelNaar %}
{% from "macros/directGeholpen.njk" import directGeholpen %}
{% include "nav.njk" %}
<section class="hero is-small">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-reversed-mobile">
                <div class="column is-half content is-flex is-align-content-center is-align-items-center">
                    <div class="">
                        <h1 class="">
                            {{ themePage.fields.heroTitle }}
                        </h1>
                        <h2 class="">
                            {{ themePage.fields.heroSubtitle }}
                        </h2>
                        <p>
                            {{ themePage.fields.heroContent }}
                        </p>
                        <div class="has-text-centered mt-5">
                            {% for cta in themePage.fields.heroCtAs %}
                                <a href="{% link cta.fields.link %}" class="button mr-3 {% if cta.fields.primair %}is-primary{% else %}is-light{% endif %}">
                                    <strong>{{ cta.fields.title }}</strong>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <img src="{{ themePage.fields.heroImage.fields.file.url }}?f=face&fit=thumb&fm=webp&w=1280&h=960" alt="{{ themePage.fields.heroTitle }}"/>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="has-blue-bg-image">
    {# Snel naar #}
    {% if themePage.fields.snelNaar %}
        {{ snelNaar(themePage.fields.snelNaar) }}
    {% endif %}
    {# Direct geholpen #}
    {% if themePage.fields.directGeholpen.length > 0 %}
        <section class="mt-6">
            {{ directGeholpen(themePage.fields.directGeholpen, teamPages, meta) }}
        </section>
    {% else %}
        <div>&nbsp;</div>
    {% endif %}
</div>
<section class="has-background-grey-dark pb-6">
    <div class="container">
        <div class="columns is-variable is-6 mb-5">
            <div class="column is-half">
                {{ uitgelicht(themePage.fields.uitgelicht1) }}
            </div>
            <div class="column is-half">
                {{ seoTekst(themePage.fields.seoTekst1) }}
            </div>
        </div>
        <div class="columns is-variable is-6 is-reversed-mobile">
            <div class="column is-half">
                {{ seoTekst(themePage.fields.seoTekst2) }}
            </div>
            <div class="column is-half">
                {{ uitgelicht(themePage.fields.uitgelicht2) }}
            </div>
        </div>
    </div>
</section>
{#Footer#}
{% include "footer.njk" %}