---
permalink: site.webmanifest
---
{
"name": "{{ meta.siteDescription }}",
"short_name": "{{ meta.siteName }}",
"icons": [{
"src": "{{ meta.faviconPng }}",
"sizes": "48x48",
"type": "image/png",
"purpose": "any maskable"
}],
"theme_color": "{{ meta.themeColor }}",
"background_color": "{{ meta.tileColor }}",
"display": "standalone",
"start_url": "{{ meta.url }}/",
"display": "minimal-ui"
}